<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XpathParser</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Hello</h1>
<div class="row">
    <div class="doc-column">
        <div class="info">
            <form action="{{ url_for('parse_meta') }}" method="post">
                URL: <input style="width: 80%; margin-bottom: 40px" type="text" name="url" placeholder="Enter URL"
                            value="{{ raw_url }}">
                <br>
                <button>GET</button>
            </form>
            <div style="margin-top: 10px;">
                {% if domain %}
                <p>Domain: {{ domain }}</p>
                {% endif %}

                {% if title %}
                <p>Title: {{ title }}</p>
                {% endif %}

                {% if description %}
                <p>Summary: {{ description }}</p>
                {% endif %}

                {% if published_time %}
                <p>Published time: {{ published_time }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="doc-column">
        <div style="margin-top: 20px; border-width: 2px">
            <form action="{{ url_for('parse') }}" method="post">
                URL: <input style="width: 80%; margin-bottom: 40px" type="text" name="url" placeholder="Enter URL"
                            value="{{ raw_url }}"><br>
                All links: <input type="text" name="all_links" placeholder="Enter xPath"><br>
                All subpaths: <input type="text" name="all_subs" placeholder="Enter xPath"><br>
                Images: <input type="text" name="images" placeholder="Enter xPath"><br>
                Videos: <input type="text" name="videos" placeholder="Enter xPath"><br>
                Share Content: <input type="text" name="share_content" placeholder="Enter xPath"><br>
                Tag: <input type="text" name="tag" placeholder="Enter xPath"><br>
                Author: <input type="text" name="author" placeholder="Enter xPath"><br>
                Raw_html: <input type="text" name="raw_html" placeholder="Enter xPath"><br>
                <button>GET</button>
            </form>
            <div style="margin-top: 10px;">
                {% if all_links %}
                <p>All links: </p><br>
                <ul>
                    {% for link in all_links %}
                    <li>{{ link }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>